body { margin-left: 0; }

.menubar {
    overflow: hidden;
    position: fixed;
    top: 0;
    background-color: #001a00;
    width: 100%;
}

.menubar a {
    float: left;
    display: block;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px black;
    font-size: 20px;
    padding: 14px 16px;
}

.menubar a:hover, .menubar a.active:hover {
    background-color: #009900;
}

.menubar a.active {
    background-color: #004d00;
}