.menubar {
    overflow: hidden;
    position: fixed;
    top: 0;
    background-color: #ff1a1a;
    width: 100%;
}

.menubar a {
    float: left;
    display: block;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 10px 13px;
}